In [1]:
print('im')

im

In [1]:
%pip install pandas

import pandas as pd

Collecting pandas
  Downloading pandas-2.3.0-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.3.0-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp311-cp311-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.1 MB 3.4 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.1 MB 5.9 MB/s eta 0:00:02
   ---------- ----------------------------- 2.9/11.1 MB 4.7 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/11.1 MB 4.4 MB/s eta 0:00:02
   ----------------- ---------------------- 4.7/11.1 MB 4.5 MB/s eta 0:00:02
   ----------------- ---------------------- 4.7/11.1 MB 4.5 MB/s eta 0:00:02
   ---------------------- ----------------- 6.3/11.1 MB 4.1 MB/s eta 0:00:02
   ------------------------- -------------- 7.1/11.1 MB 4.2 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/11.1 MB 4.2 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/11.1 MB 4.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.1 MB 4.0 MB/s eta 0:00:01
   ---------------------------------- ----- 9.7/11.1 MB 3.8 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.1 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 3.6 MB/s eta 0:00:00
Downloading numpy-2.3.0-cp311-cp311-win_amd64.whl (13.0 MB)
   ---------------------------------------- 0.0/13.0 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/13.0 MB 4.8 MB/s eta 0:00:03
   ------- -------------------------------- 2.4/13.0 MB 4.6 MB/s eta 0:00:03
   ---------- ----------------------------- 3.4/13.0 MB 4.6 MB/s eta 0:00:03
   ------------- -------------------------- 4.5/13.0 MB 4.5 MB/s eta 0:00:02
   ---------------- ----------------------- 5.2/13.0 MB 4.4 MB/s eta 0:00:02
   ------------------- -------------------- 6.3/13.0 MB 4.3 MB/s eta 0:00:02
   --------------------- ------------------ 7.1/13.0 MB 4.2 MB/s eta 0:00:02
   ------------------------ --------------- 8.1/13.0 MB 4.2 MB/s eta 0:00:02
   --------------------------- ------------ 8.9/13.0 MB 4.2 MB/s eta 0:00:01
   ---------------------------- ----------- 9.4/13.0 MB 4.0 MB/s eta 0:00:01
   ------------------------------ --------- 10.0/13.0 MB 3.9 MB/s eta 0:00:01
   ------------------------------- -------- 10.2/13.0 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 10.7/13.0 MB 3.7 MB/s eta 0:00:01
   ---------------------------------- ----- 11.3/13.0 MB 3.6 MB/s eta 0:00:01
   ------------------------------------- -- 12.1/13.0 MB 3.5 MB/s eta 0:00:01
   -------------------------------------- - 12.6/13.0 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  12.8/13.0 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 13.0/13.0 MB 3.3 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ---------------------------------------- 4/4 [pandas]

Successfully installed numpy-2.3.0 pandas-2.3.0 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [7]:
%pip install matplotlib
import matplotlib.pyplot as plt

Collecting matplotlib
  Downloading matplotlib-3.10.3-cp311-cp311-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.2-cp311-cp311-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.58.4-cp311-cp311-win_amd64.whl.metadata (108 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp311-cp311-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from matplotlib) (2.3.0)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.2.1-cp311-cp311-win_amd64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.3-cp311-cp311-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   -- ------------------------------------- 0.5/8.1 MB 3.4 MB/s eta 0:00:03
   ------- -------------------------------- 1.6/8.1 MB 4.0 MB/s eta 0:00:02
   ---------- ----------------------------- 2.1/8.1 MB 3.3 MB/s eta 0:00:02
   ----------- ---------------------------- 2.4/8.1 MB 2.8 MB/s eta 0:00:03
   ------------------- -------------------- 3.9/8.1 MB 3.7 MB/s eta 0:00:02
   ----------------------- ---------------- 4.7/8.1 MB 3.8 MB/s eta 0:00:01
   ------------------------ --------------- 5.0/8.1 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 6.3/8.1 MB 3.7 MB/s eta 0:00:01
   ------------------------------------ --- 7.3/8.1 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 3.7 MB/s eta 0:00:00
Downloading contourpy-1.3.2-cp311-cp311-win_amd64.whl (222 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.58.4-cp311-cp311-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ------------- -------------------------- 0.8/2.2 MB 4.8 MB/s eta 0:00:01
   -------------------------------- ------- 1.8/2.2 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 4.9 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp311-cp311-win_amd64.whl (71 kB)
Downloading pillow-11.2.1-cp311-cp311-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ----------- ---------------------------- 0.8/2.7 MB 4.2 MB/s eta 0:00:01
   ------------------------------- -------- 2.1/2.7 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 4.3 MB/s eta 0:00:00
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib

   ---------------------------------------- 0/7 [pyparsing]
   ---------------------------------------- 0/7 [pyparsing]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----------- ---------------------------- 2/7 [kiwisolver]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ---------------------------- ----------- 5/7 [contourpy]
   ---------------------------- ----------- 5/7 [contourpy]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------------- 7/7 [matplotlib]

Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.58.4 kiwisolver-1.4.8 matplotlib-3.10.3 pillow-11.2.1 pyparsing-3.2.3
Note: you may need to restart the kernel to use updated packages.

In [8]:
%pip install datasets

Collecting datasets
  Downloading datasets-3.6.0-py3-none-any.whl.metadata (19 kB)
Collecting filelock (from datasets)
  Downloading filelock-3.18.0-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: numpy>=1.17 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from datasets) (2.3.0)
Collecting pyarrow>=15.0.0 (from datasets)
  Downloading pyarrow-20.0.0-cp311-cp311-win_amd64.whl.metadata (3.4 kB)
Collecting dill<0.3.9,>=0.3.0 (from datasets)
  Downloading dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from datasets) (2.3.0)
Collecting requests>=2.32.2 (from datasets)
  Downloading requests-2.32.4-py3-none-any.whl.metadata (4.9 kB)
Collecting tqdm>=4.66.3 (from datasets)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Collecting xxhash (from datasets)
  Downloading xxhash-3.5.0-cp311-cp311-win_amd64.whl.metadata (13 kB)
Collecting multiprocess<0.70.17 (from datasets)
  Downloading multiprocess-0.70.16-py311-none-any.whl.metadata (7.2 kB)
Collecting fsspec<=2025.3.0,>=2023.1.0 (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets)
  Downloading fsspec-2025.3.0-py3-none-any.whl.metadata (11 kB)
Collecting huggingface-hub>=0.24.0 (from datasets)
  Downloading huggingface_hub-0.33.0-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: packaging in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from datasets) (24.2)
Collecting pyyaml>=5.1 (from datasets)
  Downloading PyYAML-6.0.2-cp311-cp311-win_amd64.whl.metadata (2.1 kB)
Collecting aiohttp!=4.0.0a0,!=4.0.0a1 (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets)
  Downloading aiohttp-3.12.13-cp311-cp311-win_amd64.whl.metadata (7.9 kB)
Collecting aiohappyeyeballs>=2.5.0 (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets)
  Downloading aiohappyeyeballs-2.6.1-py3-none-any.whl.metadata (5.9 kB)
Collecting aiosignal>=1.1.2 (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets)
  Downloading aiosignal-1.3.2-py2.py3-none-any.whl.metadata (3.8 kB)
Collecting attrs>=17.3.0 (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets)
  Downloading attrs-25.3.0-py3-none-any.whl.metadata (10 kB)
Collecting frozenlist>=1.1.1 (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets)
  Downloading frozenlist-1.7.0-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting multidict<7.0,>=4.5 (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets)
  Downloading multidict-6.4.4-cp311-cp311-win_amd64.whl.metadata (5.5 kB)
Collecting propcache>=0.2.0 (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets)
  Downloading propcache-0.3.2-cp311-cp311-win_amd64.whl.metadata (12 kB)
Collecting yarl<2.0,>=1.17.0 (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets)
  Downloading yarl-1.20.1-cp311-cp311-win_amd64.whl.metadata (76 kB)
Collecting idna>=2.0 (from yarl<2.0,>=1.17.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets)
  Downloading idna-3.10-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from huggingface-hub>=0.24.0->datasets) (4.12.2)
Collecting charset_normalizer<4,>=2 (from requests>=2.32.2->datasets)
  Downloading charset_normalizer-3.4.2-cp311-cp311-win_amd64.whl.metadata (36 kB)
Collecting urllib3<3,>=1.21.1 (from requests>=2.32.2->datasets)
  Downloading urllib3-2.4.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests>=2.32.2->datasets)
  Downloading certifi-2025.6.15-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from tqdm>=4.66.3->datasets) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\python_course\lib\site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)
Downloading datasets-3.6.0-py3-none-any.whl (491 kB)
Downloading dill-0.3.8-py3-none-any.whl (116 kB)
Downloading fsspec-2025.3.0-py3-none-any.whl (193 kB)
Downloading multiprocess-0.70.16-py311-none-any.whl (143 kB)
Downloading aiohttp-3.12.13-cp311-cp311-win_amd64.whl (451 kB)
Downloading multidict-6.4.4-cp311-cp311-win_amd64.whl (38 kB)
Downloading yarl-1.20.1-cp311-cp311-win_amd64.whl (86 kB)
Downloading aiohappyeyeballs-2.6.1-py3-none-any.whl (15 kB)
Downloading aiosignal-1.3.2-py2.py3-none-any.whl (7.6 kB)
Downloading attrs-25.3.0-py3-none-any.whl (63 kB)
Downloading frozenlist-1.7.0-cp311-cp311-win_amd64.whl (44 kB)
Downloading huggingface_hub-0.33.0-py3-none-any.whl (514 kB)
Downloading idna-3.10-py3-none-any.whl (70 kB)
Downloading propcache-0.3.2-cp311-cp311-win_amd64.whl (41 kB)
Downloading pyarrow-20.0.0-cp311-cp311-win_amd64.whl (25.8 MB)
   ---------------------------------------- 0.0/25.8 MB ? eta -:--:--
   - -------------------------------------- 1.0/25.8 MB 10.1 MB/s eta 0:00:03
   --- ------------------------------------ 2.1/25.8 MB 5.3 MB/s eta 0:00:05
   ---- ----------------------------------- 3.1/25.8 MB 4.4 MB/s eta 0:00:06
   ------ --------------------------------- 3.9/25.8 MB 4.3 MB/s eta 0:00:06
   ------ --------------------------------- 3.9/25.8 MB 4.3 MB/s eta 0:00:06
   -------- ------------------------------- 5.5/25.8 MB 4.4 MB/s eta 0:00:05
   ---------- ----------------------------- 6.6/25.8 MB 4.2 MB/s eta 0:00:05
   ----------- ---------------------------- 7.3/25.8 MB 4.1 MB/s eta 0:00:05
   ------------ --------------------------- 8.1/25.8 MB 4.1 MB/s eta 0:00:05
   ------------- -------------------------- 8.9/25.8 MB 4.0 MB/s eta 0:00:05
   --------------- ------------------------ 9.7/25.8 MB 4.0 MB/s eta 0:00:05
   ---------------- ----------------------- 10.5/25.8 MB 4.0 MB/s eta 0:00:04
   ----------------- ---------------------- 11.5/25.8 MB 3.9 MB/s eta 0:00:04
   ------------------- -------------------- 12.6/25.8 MB 3.9 MB/s eta 0:00:04
   -------------------- ------------------- 13.4/25.8 MB 3.9 MB/s eta 0:00:04
   --------------------- ------------------ 14.2/25.8 MB 3.9 MB/s eta 0:00:03
   ----------------------- ---------------- 14.9/25.8 MB 3.9 MB/s eta 0:00:03
   ----------------------- ---------------- 15.2/25.8 MB 3.7 MB/s eta 0:00:03
   ----------------------- ---------------- 15.5/25.8 MB 3.7 MB/s eta 0:00:03
   ------------------------- -------------- 16.3/25.8 MB 3.6 MB/s eta 0:00:03
   -------------------------- ------------- 17.0/25.8 MB 3.6 MB/s eta 0:00:03
   ---------------------------- ----------- 18.1/25.8 MB 3.6 MB/s eta 0:00:03
   ----------------------------- ---------- 18.9/25.8 MB 3.7 MB/s eta 0:00:02
   ------------------------------ --------- 19.9/25.8 MB 3.7 MB/s eta 0:00:02
   -------------------------------- ------- 20.7/25.8 MB 3.7 MB/s eta 0:00:02
   --------------------------------- ------ 21.8/25.8 MB 3.7 MB/s eta 0:00:02
   ---------------------------------- ----- 22.5/25.8 MB 3.7 MB/s eta 0:00:01
   ------------------------------------ --- 23.6/25.8 MB 3.7 MB/s eta 0:00:01
   -------------------------------------- - 24.6/25.8 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  25.4/25.8 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  25.7/25.8 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 25.8/25.8 MB 3.7 MB/s eta 0:00:00
Downloading PyYAML-6.0.2-cp311-cp311-win_amd64.whl (161 kB)
Downloading requests-2.32.4-py3-none-any.whl (64 kB)
Downloading charset_normalizer-3.4.2-cp311-cp311-win_amd64.whl (105 kB)
Downloading urllib3-2.4.0-py3-none-any.whl (128 kB)
Downloading certifi-2025.6.15-py3-none-any.whl (157 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Downloading filelock-3.18.0-py3-none-any.whl (16 kB)
Downloading xxhash-3.5.0-cp311-cp311-win_amd64.whl (30 kB)
Installing collected packages: xxhash, urllib3, tqdm, pyyaml, pyarrow, propcache, multidict, idna, fsspec, frozenlist, filelock, dill, charset_normalizer, certifi, attrs, aiohappyeyeballs, yarl, requests, multiprocess, aiosignal, huggingface-hub, aiohttp, datasets

   - --------------------------------------  1/23 [urllib3]
   - --------------------------------------  1/23 [urllib3]
   - --------------------------------------  1/23 [urllib3]
   --- ------------------------------------  2/23 [tqdm]
   --- ------------------------------------  2/23 [tqdm]
   --- ------------------------------------  2/23 [tqdm]
   --- ------------------------------------  2/23 [tqdm]
   ----- ----------------------------------  3/23 [pyyaml]
   ----- ----------------------------------  3/23 [pyyaml]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   ------ ---------------------------------  4/23 [pyarrow]
   -------- -------------------------------  5/23 [propcache]
   ------------ ---------------------------  7/23 [idna]
   ------------ ---------------------------  7/23 [idna]
   ------------- --------------------------  8/23 [fsspec]
   ------------- --------------------------  8/23 [fsspec]
   ------------- --------------------------  8/23 [fsspec]
   ------------- --------------------------  8/23 [fsspec]
   ------------- --------------------------  8/23 [fsspec]
   ------------- --------------------------  8/23 [fsspec]
   ------------- --------------------------  8/23 [fsspec]
   ------------- --------------------------  8/23 [fsspec]
   ------------- --------------------------  8/23 [fsspec]
   ------------- --------------------------  8/23 [fsspec]
   --------------- ------------------------  9/23 [frozenlist]
   ----------------- ---------------------- 10/23 [filelock]
   ------------------- -------------------- 11/23 [dill]
   ------------------- -------------------- 11/23 [dill]
   ------------------- -------------------- 11/23 [dill]
   ------------------- -------------------- 11/23 [dill]
   ------------------- -------------------- 11/23 [dill]
   ------------------- -------------------- 11/23 [dill]
   ------------------- -------------------- 11/23 [dill]
   ------------------- -------------------- 11/23 [dill]
   ------------------- -------------------- 11/23 [dill]
   ------------------- -------------------- 11/23 [dill]
   -------------------- ------------------- 12/23 [charset_normalizer]
   -------------------- ------------------- 12/23 [charset_normalizer]
   ---------------------- ----------------- 13/23 [certifi]
   ------------------------ --------------- 14/23 [attrs]
   ------------------------ --------------- 14/23 [attrs]
   ------------------------ --------------- 14/23 [attrs]
   ------------------------ --------------- 14/23 [attrs]
   --------------------------- ------------ 16/23 [yarl]
   --------------------------- ------------ 16/23 [yarl]
   ----------------------------- ---------- 17/23 [requests]
   ----------------------------- ---------- 17/23 [requests]
   ----------------------------- ---------- 17/23 [requests]
   ------------------------------- -------- 18/23 [multiprocess]
   ------------------------------- -------- 18/23 [multiprocess]
   ------------------------------- -------- 18/23 [multiprocess]
   ------------------------------- -------- 18/23 [multiprocess]
   ------------------------------- -------- 18/23 [multiprocess]
   ------------------------------- -------- 18/23 [multiprocess]
   ------------------------------- -------- 18/23 [multiprocess]
   ------------------------------- -------- 18/23 [multiprocess]
   --------------------------------- ------ 19/23 [aiosignal]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ---------------------------------- ----- 20/23 [huggingface-hub]
   ------------------------------------ --- 21/23 [aiohttp]
   ------------------------------------ --- 21/23 [aiohttp]
   ------------------------------------ --- 21/23 [aiohttp]
   ------------------------------------ --- 21/23 [aiohttp]
   ------------------------------------ --- 21/23 [aiohttp]
   ------------------------------------ --- 21/23 [aiohttp]
   -------------------------------------- - 22/23 [datasets]
   -------------------------------------- - 22/23 [datasets]
   -------------------------------------- - 22/23 [datasets]
   -------------------------------------- - 22/23 [datasets]
   -------------------------------------- - 22/23 [datasets]
   -------------------------------------- - 22/23 [datasets]
   -------------------------------------- - 22/23 [datasets]
   -------------------------------------- - 22/23 [datasets]
   -------------------------------------- - 22/23 [datasets]
   -------------------------------------- - 22/23 [datasets]
   -------------------------------------- - 22/23 [datasets]
   ---------------------------------------- 23/23 [datasets]

Successfully installed aiohappyeyeballs-2.6.1 aiohttp-3.12.13 aiosignal-1.3.2 attrs-25.3.0 certifi-2025.6.15 charset_normalizer-3.4.2 datasets-3.6.0 dill-0.3.8 filelock-3.18.0 frozenlist-1.7.0 fsspec-2025.3.0 huggingface-hub-0.33.0 idna-3.10 multidict-6.4.4 multiprocess-0.70.16 propcache-0.3.2 pyarrow-20.0.0 pyyaml-6.0.2 requests-2.32.4 tqdm-4.67.1 urllib3-2.4.0 xxhash-3.5.0 yarl-1.20.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\HP\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [9]:
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [11]:
df_cleaned = df.dropna()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [13]:


# Count rows before dropping
rows_before = len(df)



# Count rows after dropping
rows_after = len(df_cleaned)

# Calculate how many records were dropped
dropped = rows_before - rows_after

print(f"Rows before: {rows_before}")
print(f"Rows after: {rows_after}")
print(f"Rows dropped: {dropped}")

Rows before: 785741
Rows after: 0
Rows dropped: 785741

In [10]:
# Display rows 0 to 10 and columns from 'salary_year_avg' to 'salary_hour_avg'
df.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
5               NaN              NaN
6               NaN              NaN
7               NaN              NaN
8               NaN              NaN
9               NaN              NaN
10              NaN              NaN

In [13]:
df['salary_year_avg'].median()
df['salary_hour_avg'].median()

np.float64(45.97999954223633)

In [15]:
median_salary_year = df['salary_year_avg'].median()
median_salary_hour = df['salary_hour_avg'].median()

In [16]:
median_salary_hour

np.float64(45.97999954223633)

In [17]:
df_filled=df

In [20]:
df['salary_year_avg']=df['salary_year_avg'].fillna(median_salary_year)

C:\Users\HP\AppData\Local\Temp\ipykernel_34928\4253716410.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['salary_year_avg']=df['salary_year_avg'].fillna(median_salary_year)

In [21]:
df['salary_year_avg']

0         115000.0
1         115000.0
2         115000.0
3         115000.0
4         115000.0
            ...
785736    115000.0
785737    115000.0
785738    115000.0
785739    115000.0
785740    115000.0
Name: salary_year_avg, Length: 785741, dtype: float64

In [22]:
df['salary_hour_avg']=df['salary_hour_avg'].fillna(median_salary_hour)
df['salary_hour_avg']

0         45.98
1         45.98
2         45.98
3         45.98
4         45.98
          ...
785736    45.98
785737    45.98
785738    45.98
785739    45.98
785740    45.98
Name: salary_hour_avg, Length: 785741, dtype: float64

In [24]:
# Fill missing values in 'salary_year_avg' and 'salary_hour_avg' with their median values
for col in ['salary_year_avg', 'salary_hour_avg']:
    median_val = df_filled[col].median()
    df[col].fillna(median_val, inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_34928\4029935520.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)

In [26]:
df_filled[['salary_year_avg', 'salary_hour_avg']]

        salary_year_avg  salary_hour_avg
0              115000.0            45.98
1              115000.0            45.98
2              115000.0            45.98
3              115000.0            45.98
4              115000.0            45.98
...                 ...              ...
785736         115000.0            45.98
785737         115000.0            45.98
785738         115000.0            45.98
785739         115000.0            45.98
785740         115000.0            45.98

[785741 rows x 2 columns]

In [27]:
df_unique=df

In [32]:
df_unique.drop_duplicates()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,115000.0,45.98,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,115000.0,45.98,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,115000.0,45.98,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,115000.0,45.98,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,115000.0,45.98,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,115000.0,45.98,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,115000.0,45.98,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,115000.0,45.98,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,115000.0,45.98,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,115000.0,45.98,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [37]:
# Count rows before removing duplicates
rows_before = len(df)


# Count rows after removing duplicates
rows_after = len(df_unique.drop_duplicates())

# Calculate how many duplicates were deleted
duplicates_deleted = rows_before - rows_after

print(f"Rows before: {rows_before}")
print(f"Rows after: {rows_after}")
print(f"Duplicates deleted: {duplicates_deleted}")

Rows before: 785741
Rows after: 785640
Duplicates deleted: 101

In [31]:
# Count rows before removing duplicates
rows_before = len(df)

# Remove duplicates
df_no_duplicates = df.drop_duplicates()

# Count rows after removing duplicates
rows_after = len(df_no_duplicates)

# Calculate how many duplicates were deleted
duplicates_deleted = rows_before - rows_after

print(f"Rows before: {rows_before}")
print(f"Rows after: {rows_after}")
print(f"Duplicates deleted: {duplicates_deleted}")

Rows before: 785741
Rows after: 785640
Duplicates deleted: 101

In [38]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])

In [39]:
# Count rows before removing duplicates
rows_before = len(df)


# Count rows after removing duplicates
rows_after = len(df_unique.drop_duplicates())

# Calculate how many duplicates were deleted
duplicates_deleted = rows_before - rows_after

print(f"Rows before: {rows_before}")
print(f"Rows after: {rows_after}")
print(f"Duplicates deleted: {duplicates_deleted}")

Rows before: 785741
Rows after: 508042
Duplicates deleted: 277699

In [40]:
# Count rows before dropping duplicates
rows_before = len(df)

# Drop duplicates based on 'job_title' and 'company_name'
df_no_duplicates = df.drop_duplicates(subset=['job_title', 'company_name'])

# Count rows after dropping duplicates
rows_after = len(df_no_duplicates)

# Calculate how many duplicates were deleted
duplicates_deleted = rows_before - rows_after

print(f"Rows before: {rows_before}")
print(f"Rows after: {rows_after}")
print(f"Duplicates: {duplicates_deleted}")

Rows before: 785741
Rows after: 508042
Duplicates: 277699